autocommand==2.2.2
backports.tarfile==1.2.0
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
flask==3.0.3
idna==3.7
importlib-metadata==8.4.0
importlib-resources==6.4.4
inflect==7.3.1
itsdangerous==2.2.0
jaraco.context==6.0.1
jaraco.functools==4.0.1
jaraco.text==3.12.1
jinja2==3.1.4
MarkupSafe==2.1.5
more-itertools==10.3.0
ordered-set==4.1.0
packaging==24.1
pip==24.1.2
platformdirs==4.2.2
requests==2.32.3
setuptools==71.1.0
tomli==2.0.1
typeguard==4.3.0
typing-extensions==4.12.2
urllib3==2.2.2
werkzeug==3.0.4
wheel==0.43.0
zipp==3.19.2
